body {
    font-family: var(--font-family-sans-serif);
    margin: 0;
    padding: 0;
}

/* ================================ VARIAVEIS CORES ================================================================== */
:root {
    /* ------- VARS HEADER --------------------- */
    --COR-TEXTO-HEADER: #ffffff;
    --COR-SHADOW-TEXTO-HEADER: #ffffff99;
    --COR-FUNDO-HEADER: #5fb962;
    --COR-FUNDO-HEADER-MOBILE: #95d097;

    /* ------- VARS CONTEUDO --------------------- */
    --COR-TEXTO-BOX-IMPAR: #ffffff;
    --COR-FUNDO-BOX-IMPAR: #5fb962;
    --COR-TEXTO-BOX-PAR: #5fb962;
    --COR-FUNDO-BOX-PAR: #ffffff;
}





/* ================================ HEADER - NAVBAR =================================================================== */
header {
    background: var(--COR-FUNDO-HEADER);
    height: 85px;
    padding: 0 20px 0 50px;
}
header .logo {
    width: 110px;
    height: 66px;
    margin-right: 20px;
}

header .logo img {
    width: 100%;
    height: auto;
}

header nav {
    height: 85px;
    width: 100%;
}


header .navbar-dark .navbar-nav .nav-item .nav-link {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    opacity: 0.8;
    color: var(--COR-TEXTO-HEADER);
    font-weight: bold;
    font-size: 1.1rem;
}

header .navbar-dark .navbar-nav .nav-link:focus, 
header .navbar-dark .navbar-nav .nav-link:hover {
    opacity: 0.95 !important;
    text-shadow: 0px 1px 6px var(--COR-SHADOW-TEXTO-HEADER);
}

header .navbar-dark .navbar-nav .nav-item.active .nav-link {
    opacity: 1 !important;
    border-bottom: 1px solid var(--COR-SHADOW-TEXTO-HEADER);
}


/* NÃO MOBILE */
@media (min-width: 576px) {

    header .navbar .navbar-nav {
        width: 100%;
        justify-content: space-around;
        max-width: 55%;
    }

}

/* MOBILE */
@media (max-width: 575px) {

    header .navbar-collapse {
        background-color: var(--COR-FUNDO-HEADER-MOBILE) !important;
    }

}





/* ================================ CONTEUDO =================================================================== */

.first-component {
    background: var(--COR-FUNDO-BOX-IMPAR);
    color: var(--COR-TEXTO-BOX-IMPAR);
    display: flex;
    justify-content: space-between;
    height: 850px;
}

.first-component .logo {
    width: 370px;
}

.first-component .logo img {
    width: 100%;
    height: auto;
}

.first-component .imagem-inicial {
    width: 800px;
}

.first-component .imagem-inicial img {
    width: 100%;
    height: auto;
}

.first-component .botao-produtos {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--COR-TEXTO-BOX-PAR);
}


/* NÃO MOBILE */
@media (min-width: 576px) {

    .first-component {
        padding: 180px;
    }

}

/* MOBILE */
@media (max-width: 575px) {

    

}



footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}