
/* ================================ VARIAVEIS CORES ================================================================== */
:root {
    /* ------- VARS CONTEUDO --------------------- */
    --RED: #df352b;
    --WHITE: #ffffff;
    --GREEN: #1A5632;
    --GRAY: #333333;
}


/* ================================ CONTEUDO =================================================================== */
.header_componente-inicial {
    background-image: url(../images/bg-green.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.componente-inicial {
    height: 900px;
}

.componente-inicial .frase-inicial {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 100px;
    line-height: 1.35;
}

.componente-inicial .frase-inicial .titulo {
    color: var(--GREEN);
    font-size: 3rem;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    margin-bottom: 30px;
}

.componente-inicial .frase-inicial .sub-titulo {
    color: var(--GRAY);
    font-size: 1.5rem;
}

.componente-inicial .primeira-imagem img {
    width: 100%;
    height: auto;
}

.componente-inicial .btn-padrao {
    width: 100%;
    margin-top: 10px;
}

.btn-padrao {
    font-size: 1.3rem;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal;
    height: auto;
    opacity: 0.8;
}

.btn-padrao:hover {
    opacity: 0.9 !important;
}
.btn-padrao span,
.btn-padrao:active {
    opacity: 1 !important;
}


.primeiro-segundo-bloco {
    background-image: url(../images/bg-block-1.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
}


.bloco {
    min-height: 450px;
    display: flex;
    align-items: center;
}

.bloco .row {
    align-items: center;
}

.bloco .texto,
.bloco .botao  {
    padding: 0 100px 0 100px;
}

.bloco .titulo {
    color: var(--RED);
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 30px;
}

.bloco .sub-titulo {
    color: var(--GRAY);
    font-size: 1.2rem;
    font-weight: bold;
}

.bloco .imagem img {
    width: 100%;
    height: auto;
}

.bloco .botao {
    padding-top: 15px;
    padding-bottom: 20px;
}

.segundo-bloco, .bloco-produtos {
    margin-top: 200px;
}



/* ================================ RESPONSIVOS =================================================================== */
/* SM / XS */
@media (max-width: 767px) {
  .componente-inicial {
    padding: 10px 20px;
  }
  .produto {
    padding: 10px 20px;
  }
}
/* MD */
@media (min-width: 768px) and (max-width: 991px) {
  .componente-inicial {
    padding: 30px 50px;
  }
  .produto {
    padding: 20px 40px;
  }
}
/* LG */
@media (min-width: 992px) {
  .componente-inicial {
    padding: 60px 100px;
  }
  .produto {
    padding: 40px 80px;
  }
}
/* SM pra cima */
@media (min-width: 576px) {

  .componente-inicial .logo {
    padding-right: 16px;
  }

  .componente-inicial .primeira-imagem {
    padding-left: 80px;
  }

}










/* ================================ ANIMAÇÕES =================================================================== */
.animatable {
  visibility: hidden;
  animation-play-state: paused;
}
  
.animated {
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
}
.animated.animationDelay {
  animation-delay: 0.4s;
}
.animated.animationDelayMed {
  animation-delay: 1.2s;
}
.animated.animationDelayLong {
  animation-delay: 1.6s;
}
.animated.fadeBgColor {
  animation-name: fadeBgColor;
}
.animated.bounceIn {
  animation-name: bounceIn;
}
.animated.bounceInRight {
  animation-name: bounceInRight;
}
.animated.bounceInLeft {
  animation-name: bounceInLeft;
}
.animated.fadeIn {
  animation-name: fadeIn;
}
.animated.fadeInDown {
  animation-name: fadeInDown;
}
.animated.fadeInUp {
  animation-name: fadeInUp;
}
.animated.moveUp {
  animation-name: moveUp;
}


@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}