
/* ================================ VARIAVEIS CORES ================================================================== */
:root {
}


/* ================================ ESTILOS ======================================================================= */

.sobre_nos {
  padding: 60px 100px;
  min-height: 900px;
}

footer {
  min-height: auto !important;
}
footer .direitos {
  padding: 30px 0 30px 0 !important;
}



/* ================================ RESPONSIVOS =================================================================== */
/* XS */
@media (max-width: 575px) {

}
/* SM */
@media (min-width: 576px) and (max-width: 767px) {
  
}
/* MD */
@media (min-width: 768px) and (max-width: 991px) {
  
}
/* LG */
@media (min-width: 992px) and (max-width: 1199px) {
  
}
/* XL */
@media (min-width: 1200px) {
  
}











/* ================================ ANIMAÇÕES =================================================================== */

